@media screen and (max-width: 600px) {
  .main-div{
    width: 750px;
    background-color: rgb(34, 0, 255);
  }
}

@media screen and (max-width: 426px) {
    .main-div{
      width: 750px;
      background-color: rgb(255, 251, 0);
    }
}

@media screen and (max-width: 320px) {
  .main-div{
    width: 750px;
    background-color: rgb(255, 251, 0);
  }
}

.flex{
  display: flex;
  background-color: purple;
}

.flex>div{
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.flex{
  flex-direction: column;
}

.container{
  display: flex;
}
.child{
  padding: 20px;
  color: white;
  text-align: center;
}

.red{
   
}




